#headLine {
	display: flex;
	justify-content: space-between;
}

#content {
	resize: none;
}

table {
	margin: auto;
}

#center {
	margin: auto;
	text-align: center;
}

pre {
	text-align: left;
	padding: 10px;
}

#idDiv {
	position: relative;
	left: 120px;
	bottom: 19px;
	font-size: 12px;
	height: 0px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li a {
	text-decoration: none;
}

li {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}

#pagination {
	margin: 5px;
}

body {
	margin: 0px;
}

#divAlert {
	background-color: red;
	color: white;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
}