<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmg.mapper.BoardMapper">
	<sql id="criteria">
	 	<trim prefix="(" suffix=") and">
			<if test="myContentCB !=null and myContentCB !=''">
					id=#{myContentCB}
				</if>
			
		</trim>
		<trim prefix="(" suffix=") and">
			<foreach collection="typeArr" item="type" separator="or">
				<if test="type=='T'.toString()">
					title like '%'||#{keyword}||'%'
				</if>
				<if test="type=='C'.toString()">
					content like '%'||#{keyword}||'%'
				</if>
				<if test="type=='W'.toString()">
					id like '%'||#{keyword}||'%'
				</if>
			</foreach>
		</trim>
	</sql>
	<!-- 글조회 -->
	<select id="read" resultType="com.pmg.domain.BoardVO">
		select * from board
		where bno = #{bno}
	</select>

	<!-- 글리스트 -->
	<select id="getList" resultType="com.pmg.domain.BoardVO">
		select * from board
		order by bno
		desc
	</select>

	<!-- 글작성 -->
	<insert id="write">
		insert into
		board(bno, id, title, content)
		values(
		seq_bno.nextval
		,#{id}
		,#{title}
		,#{content}
		)
	</insert>

	<!-- 글수정 -->
	<update id="update">
		update board
		set
		title = #{title}
		,content = #{content}
		,updateDate = sysdate
		where bno =
		#{bno}
	</update>

	<!-- 글삭제 -->
	<delete id="delete">
		delete from board
		where
		bno=#{bno}
	</delete>

	<update id="viewUp">
		update board
		set views = views+1
		where bno =#{bno}
	</update>

	<select id="getListWithPaging" resultType="com.pmg.domain.BoardVO">
	<![CDATA[ 
		select * from (
			select /*+index_desc(board pk_board)*/ rownum rn, bno, title, id, views, regdate, updatedate
				from board 
				where 
					]]>
					<include refid="criteria"></include>
				<![CDATA[ 
				0< bno and 0<rownum and rownum<=(#{pageNum}*#{amount})
					]]>
					
				<if test="sorting =='views'.toString()">
					order by views desc, regdate desc, updatedate
				</if>
				<if test="sorting =='regdate'.toString()">
					order by regdate desc, views desc, updatedate
				</if>
				<if test="sorting =='updatedate'.toString()">
					order by updatedate desc, views desc, regdate
				</if>		
					
				<![CDATA[ 
						)
		where rn>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="listCount" resultType="int">
		<![CDATA[
		select count(bno)
		from board
		where bno>0
		]]>
	</select>

	<select id="getTotal" resultType="int">
		select count(bno) from board where
		<include refid="criteria"></include>
		bno>0
	</select>

</mapper>